@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.dark{
  --backgroud:var(--foreground);
}
.white{
  --backgroud:var(--background)
}
.custom-handle {
  width: 100%;
  height: 5px; /* Increase handle size */
  background-color: #ffffffb7; /* Yellow for visibility */
  cursor: ns-resize; /* Vertical resize cursor */
  position: absolute;
  bottom: 0;
  left: 0;
}
.custom-handle:hover {
  background-color: #3301ff; /* Brighter yellow on hover */
}